/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--font-size);
  inline-size: max(100vb, 375px);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  align-items: start;
  padding: var(--padding-main);
  block-size: max(100vb, 668px);
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: var(--padding-main);
  inset-inline-end: var(--padding-main);
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-block-end: var(--padding-main);
  inset-inline-start: var(--padding-main);
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center; 
  inset-block-start: var(--padding-main);
  gap: 10px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--accent-color);
}

.header__rec::after {
  content: '';
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px #FF0070);
  block-size: 9px;
  inline-size: 9px;
}

.headline {
  color: var(--headline-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-menu-button {
  border: none;
  color: var(--menu-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  outline: var(--button-active);
  pointer-events: none;
}

.header__theme-menu {
  margin-block-start: calc(76.5px - var(--padding-main));
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
}

.header__title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin-block-start: var(--title-margin);
  margin-block-end: var(--title-margin);
}

.title-decor {
  color: var(--title-highlight-text);
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--title-bold);
  max-inline-size: 355px; /*ширина подсвеченной области*/
}

.main {
  font-family: var(--font-family);
  color: var(--text-color);
  display: grid;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__title {
  color: var(--accent-color);
  font-size: var(--font-size);
}

.main__advice {
  background-color: var(--accent-color);
  color: var(--title-highlight-text);
  font-weight: var(--title-regular);
  font-size: var(--font-size);
}

.main__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.main__link:focus {
  outline: 1px solid;
}

.main__gallery {
   grid-template-rows: auto;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
}

.gallery__image-item {
  display: block;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  align-items: start;
  padding: var(--padding-main);
  block-size: max(100vb, 668px);
}

.footer::before {
  content: '';
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: var(--padding-main);
  inset-inline-end: var(--padding-main);
}

.footer::after {
  content: '';
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-block-end: var(--padding-main);
  inset-inline-start: var(--padding-main);
}

