:root {
  --background-color: #000028;
  --font-family: 'IBM Plex Mono', sans-serif;
  --font-size: 18px;
  --headline-color: #DB00FF;
  --headline-size: 116px;
  --title-color: #FF0070;
  --title-margin: 55px;
  --title-highlight-text: #000028;
  --accent-color: #ff0070;
  --padding-main: 10px;
  --menu-color: #ff0070;

}